version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: samurai_db
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: samurai
      POSTGRES_USER: samurai
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5433:5432'
    networks:
      - app_network

  jenkins:
    image: jenkins/jenkins:lts-jdk17
    container_name: hunters_league_jenkins
    ports:
      - '8081:8080'
      - '50000:50000'
    volumes:
      - jenkins_home:/var/jenkins_home
    networks:
      - app_network

  sonarqube:
    image: sonarqube:community
    container_name: hunters_league_sonarqube
    ports:
      - '9000:9000'
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  pgdata:
  jenkins_home:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
